header{
    width: 100%;
    height: 400px;
    background: url(../img/0004.jpg);
    background-size: cover;
    background-position: center;
}

.head_container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 18px;
    color: antiquewhite;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header h2{
    text-align: center;
    margin-top: 250px;
    color: antiquewhite;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-block;
    width: 150px;
    text-align: center;
    border-left: 1px dotted black;
}

.last_child{
    border-right: 1px dotted black;
}

.container{
    width: 800px;
    margin:  0px auto;
    display: flex;
}

.item01{
    width: 70%;
}

.item01 h2{
    text-align: center;
    border-bottom: 1px solid navy;
}

.item01 img{
    width: 99%;
}

.item02{
    width: 22%;
}

.item02 h2{
    font-size: 20px;
    text-align: center;
}

.item02 ul{
    list-style-type: none;
    padding-left: 0px;
}

.item02 li{
    border-bottom: 1px dotted black;
}

.article_container{
    display: flex;
}

.article_item{
    width: 70%;
}

.article_item_img{
    width: 99%;
    height: 50px;
}

.article_item p{
    text-align: center;
}

footer{
    width: 100%;
    background-color: rgb(245, 224, 227);
    margin: 0px;
    padding: 30px 0px;
}

footer h2{
    text-align: center;
    font-size: 16px;
}